.header {
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-image: url("../datas/images/HeaderNetfloux.png");
  background-repeat: no-repeat;
}

.border {
  width: 18vw;
  height: 41px;
  font-size: 20px;
  padding-right: 15px;
}

.logo {
  height: 50px;
  width: 16vw;
}

.Categories {
  display: flex;
  justify-content: space-around;
  width: 51vw;
}

.headerBtn {
  background: none;
  color: #000000;
  font-size: 35px;
  width: 100vh;
}
