.playingMusic{
    display: flex;
    flex-direction: column;
    background-color: #BBC0C8;
    height: 600px;
    width: fit-content;
}

#chargingBar{
    background-color: #656565;
    height: 20px;
    border-radius: 0px 10px 10px 0px;
    width: 50%;

}

#progressBar{
    background-color: #A8A8A8;
    height: 20px;
    
}

.infos{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}

.Buttons{
    display: flex;
    justify-content: center;
    height: 14vh;
    align-items: center;
}

#stopBtn{
    padding-right: 100px;
}

#playBtn{
    padding-left: 25px;
    padding-right: 25px;
}